html{
  background-color: #313c49
}
/*Centrar el div "header"*/
#header{
  margin: auto;
  width: 500px;
  font-family: Arial;
  background-color: blue;

}
ul, ol{
  list-style: none;
}
/*Estilos de la clase "nav"*/
/*Elementos de los elemento "a" en "li"*/
.nav li a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding:10px 15px;
  display: block;
  border: 2px;
  border-radius: 50px, left;
}
/*Elementos "li"*/
.nav > li{
  float:left;
}
/*Color de la seleccion*/
.nav li a:hover{
  background-color: #cccccc;
}
