html {
	background-color: #313c49;
	background-image: url('fondo.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;s
}

#banner_principal{
	display:block;
	margin:auto;
}

#imagen_contacto{
	display:block;
	margin:auto;
}

.Banner{
	margin-bottom: 50px;
	margin-top: 50px;
}
/*Centrar el div "header"*/
#header{
  margin: auto;
  width: 500px;
  font-family: Arial;
  background-color:transparent;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
/*Estilos de la clase "nav"*/
/*Elementos de los elemento "a" en "li"*/
.nav li a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding:10px 15px;
  display: block;
  border: 2px;
  border-radius: 500px, left;
}
/*Elementos "li"*/
.nav > li{
  float:left;

}
/*Color de la seleccion*/
.nav li a:hover{
  background-color: #cccccc;
}
